name: Delete old workflow runs
on:
  schedule:
    - cron: '30 0 * * *'
  workflow_dispatch: ~
  
jobs:
  del_runs:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GHCR_PAT }}
          repository: ${{ github.repository }}
          retain_days: 7
          keep_minimum_runs: 6
